body {
  background-color: green;
}

.butts {
  display: flex;
}

#pets {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.dosePets{
  margin: 1%;
  padding: 10px;
  flex-basis: 300px;
  align-items: center;
}

.anipics {
  width: 400px;
  height: 400px;
  
}
